:root {
    --primary-color: #f8f5f4;
    --accent-color: #ff7a3d;
    --white-color: #ffffff;

    --navbar-text-color: var(--bs-nav-link-color);
}
.whitespace-1 {
    height: 1rem;
}
.whitespace-2 {
    height: 2rem;
}
.whitespace-3 {
    height: 3rem;
}
.whitespace-4 {
    height: 4rem;
}
.whitespace-5 {
    height: 5rem;
}

body {
    background-color: var(--primary-color);
}

nav {
    background-image: linear-gradient(180deg, var(--primary-color), var(--primary-color));
}
.cover-nav {
    position: absolute !important;
    background-image: linear-gradient(180deg, var(--primary-color), transparent);
    left: 0;
    right: 0;
    top: 0;
}

nav .active {
    color: var(--accent-color) !important;
    font-weight: 500!important;
}

nav a {
    color: var(--navbar-text-color);
}

.hover-color-active {
    transition: color 200ms ease;
}
.hover-color-active:hover {
    color: var(--accent-color) !important;
}

.primary-btn {
    background-color: var(--accent-color);
    border-radius: 5rem;
    color: var(--primary-color);
    text-transform: lowercase;
    font-variant: small-caps;
}

#cart-offcanvas {
    width: min(45rem, 90%) !important;
}

.quick_view,
.quick_add_to_cart {
    background-color: var(--accent-color);
    color: var(--primary-color);
    
    transition: color 200ms ease, background-color 200ms ease;
    padding: 0.5rem;
    border-radius: 2rem;
    right: 0.5rem;
    top: 0.5rem;
    line-height: 1rem;
}
.quick_add_to_cart {
    margin-top: 2.5rem;
}

.quick_view:hover,
.quick_add_to_cart:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

#modal img{
    max-height: 30rem;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}

.required::after {
    content: " *";
    color: red;
}

::selection {
    color: var(--primary-color);
    background: var(--accent-color);
}
::-moz-selection { 
    color: var(--primary-color);
    background: var(--accent-color);
}
