
#content {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-block: 2rem;
}

#product svg {
    min-height: 20rem;
    width: 100%;
}

#product svg,
#product img {
    max-height: 30rem;
    object-fit: contain;
}

#description_review .nav button {
    color: var(--navbar-text-color) !important;
}

#description_review .nav .active {
    color: var(--accent-color) !important;
}

#related_products .products svg,
#related_products .products img {
    height: 10rem;
    object-fit: contain;
    padding: 1rem;
}

#related_products .products .card-title {
    min-height: 4rem;
}
